@import "./variables";

//app
.app {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon-btn svg {
  stroke-width: 10%;
  color: $text-color;
}

/*wrapper*/
.wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.wrapper .main-title {
  position: relative;
  top: -20px;
  font-size: 2.2rem;
}

/*break session length*/
.break-session-length {
  width: 100%;
  display: flex;
  align-items: center;
}

/*length control*/
.length-control {
  width: 50%;
  max-width: 250px;
}

.length-control div {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.length-control div strong {
  font-size: 23px;
}

.length-control div button {
  border: none;
}

 svg.icon {
  border: none; 
  stroke-width: 0; 
   font-size: 1.7rem;
   transition: all 0.2s ease; 
}

svg.icon:hover {
  color: $secondary-text-color;
}


/*tier-wrapper*/
.timer-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 270px;
  height: 190px;
  border-radius: 50px;
  border: 7px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.timer-wrapper #timer-label {
  font-size: 1.875rem;
}

.timer-wrapper #time-left {
  font-size: 3.125rem;
}

.timer-wrapper #time-left.little-time-left {
  color: $few-time-color;
}


/*timer control*/
#timer-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

/*author*/
.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.author a {
  text-decoration: none;
  color: $secondary-text-color;
  cursor: pointer;
}

/*audio*/
#beep {
  display: none;
  width: 30px;
  height: 30px;
}

/*media queries*/
@media only screen and (max-width: 520px) {
  .wrapper {
    width: 80vw;
  }
}

@media only screen and (max-width: 450px) {
  .break-session-length {
    flex-direction: column;
    gap: 1.1rem;
  }

  .length-control {
    width: 100%;
  }
}

